{% comment %} {% load static %} {% endcomment %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        {% comment %} <link rel="stylesheet" href="{% static 'clairesDragonApp/css/clairesDragonApp.css' %}"> {% endcomment %}
        {% tailwind_css %}
        <title>Claire's Dragons</title>
    </head>
	<body class="bg-gradient-to-r from-blue-light to-pink-light ... font-serif leading-normal tracking-normal">
    <div class='font-sans'>
        <h1 class='text-5xl font-serif p-4 text-center'> Claire's Dragons here soon!</h1>
        <div class='flex gap-2 items-center place-content-center'>
            <a class='rounded-xl text-xl text-pink hover:text-purple' href="{% url 'create' %} "> Create a dragon</a>
            {% include "./icons/dragonIcon.svg" %} 
            <a class="rounded-xl text-xl text-pink hover:text-purple" href="{% url 'about' %}"> About Claire </a>
            <img src"static/clairesDragonApp/images/purpleDragon.png"/>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
